<title>GESTION DE FACTURA</title>
<br><div >
    <h1>FACTURACION</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form id="formularioRegistro">
        <label>Codigo Factura</label>
        <input type="text" id="idfactura" name="idfactura"   placeholder="Codigo Factura">
        <label>Cedula Cliente</label>
        <input type="text" id="cedula" name="cedula"     placeholder="Cedula">
        <label>Codigo Habitacion</label>
        <input type="text" id="codigo" name="codigo"   placeholder="Codigo Habitacion">
        <br><br>
        <label>Fecha Factura</label>
        <input type="date" id="fecha" name="fecha"   placeholder="Fecha">
        <br><br>
        <label>Subtotal</label>
        <input type="number" id="subtotal" name="subtotal"    placeholder="Subtotal">
        <label>Iva</label>
        <input type="number" id="iva" name="iva"   placeholder="Iva">
        <label>Total</label>
        <input type="number" id="total" name="total"     placeholder="Total">
        <label>Fecha de entrada:</label>
        <input type="date" id="fechaentrada" name="Fecha de Entrada">       
        <br>
        <label>Fecha de salida:</label>
        <input type="date" id="fechasalida" name="Fecha de Salida">   
    </form>
</div>
<br>
<button  id="divcontainer2" type="button" class="btn btn-primary">Guardar</button> 
<!--
<button  id="divcontainer2" type="button" class="btn btn-primary" (click)="add()">Guardar</button> 
-->