<title>REGISTRO CLIENTE</title>
<br><div align="center"><img src="assets/GE.ico" alt="Logo">
    <h1>REGISTRO CLIENTE</h1>
</div><br>
<div id="divcontainer" class="forms">
    <form id="formularioRegistro">
        <label>Cedula</label>
        <input type="text" id="cedula" name="cedula"    placeholder="Cedula">
        <label >Primer Nombre</label>
        <input type="text" id="primerNombre" name="primerNombre"  placeholder="Primer Nombre">
        <label >Sexo</label>
        <select id="sexo" name="sexo" >
            <option value="seleccionar">Seleccionar</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select> <br>
        <label >Edad</label><br>
        <input type="number" id="edad" name="edad"  placeholder="Edad"><br>
    </form>
</div>
<br>
<button  id="divcontainer2" type="button" class="btn btn-primary" >Guardar</button>

<!--
    <button  id="divcontainer2" type="button" class="btn btn-primary" (click)="add()">Guardar</button>
-->
