<title>REGISTRO</title>
<br>
<div id="form">
  <form action="/action_page.php" method="post">
    <div class="imgcontainer">
      <img src="assets/userl.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>USUARIO</b></label>
      <input type="text" placeholder="INGRESAR USUARIO" name="usuario" required>
  
      <label for="psw"><b>CONTRASEÑA</b></label>
      <input type="password" placeholder="INGRESAR CONTRASEÑA" name="contraseña" required>
      <br><br>
      <button  id="divcontainer2" type="button" onclick="location.href='https://localhost:5001/login'"  class="btn btn-primary" >Guardar</button>
      <br>
    </div>
  </form>
</div>
<br>